@model IEnumerable<Ludus_web.Models.Student>

@{
<<<<<<< HEAD
    ViewBag.Title = "StudentList";
}
<h2>Hej drenge</h2>
=======
    ViewBag.Title = "Elevliste";
}
<h2>Elevliste</h2>
>>>>>>> 2dc03028dfab3c2a4b633fce7b61d172e6b57911

<p>
    @Html.ActionLink("Add new Student", "CreateStudent")
</p>
<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStudent", new { id=item.Id }) |
            @Html.ActionLink("Details", "StudentDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id=item.Id })
        </td>
    </tr>
}

</table>
