<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="indhold">
            <div class="logo">
<<<<<<< HEAD
                <img src="~/Views/Billeder/rybnerslogo.png" />
=======
                <img src=@Url.Content("~/Billeder/rybnerslogo.png")
>>>>>>> 2dc03028dfab3c2a4b633fce7b61d172e6b57911
            </div>
            <nav class="navigations-op">
                <a>*Brugernavn*</a>
                <a href="Login.html">Log ud</a>
            </nav>
            <nav class="navigations-menu">
                @Html.ActionLink("Skema", "Index", "Home")
                @Html.ActionLink("Elevliste", "StudentList", "Home")
            </nav>
<<<<<<< HEAD
            @Html.Partial("_UsedAccount")
=======
>>>>>>> 2dc03028dfab3c2a4b633fce7b61d172e6b57911
        </div>
      </header>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>